%h1 Personal Details
%dl
  %dt Name
  %dd= h @person.name
  %dt Email
  %dd= h @person.email
  %dt Phone Number
  %dd= h @person.phone_number
  %dt Payroll Number
  %dd= h @person.payroll_number

.upcoming_reminders
  %h2 Upcoming Reminders
  %ul  
    - @person.reminders.upcoming.each do |reminder|
      %li
        = h reminder.send_at
        = h reminder.message

.past_reminders
  %h2 Past Reminders
  %ul  
    - @person.reminders.past.each do |reminder|
      %li
        = h reminder.send_at
        = h reminder.message
      
%h2 Create a new reminder
- form_for [@person, @reminder] do |form|
  .field
    = form.label :message
    = form.text_area :message
  .field 
    = form.label :send_at
    = form.datetime_select :send_at
  .actions
    = form.submit